.profile_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
  border: 1px #e7e7e7 solid;
  box-shadow: 5px 4px 33px 10px rgba(34, 60, 80, 0.2);
}

.avatar {
  border-radius: 50%;
  border: 1px rgb(199, 198, 198) solid;
}
